@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
/* navbar design  */
nav{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav > p{
    font-size: 36px;
    color: rgba(230, 83, 60, 1);
    font-weight: bold;
    font-style: italic;
}
nav > div{
    border: 1px solid rgb(84, 84, 84);
    display: flex;
    gap: 47px;
    align-items: center;
    border-radius: 39px;
    padding: 2px 5px;
}
nav > span{
    margin-right: 5px;
    display: none;
}
.home-btn{
    background-color: #E6533C;
    border-radius: 46px;
    padding: 5px 15px;
}

/* banner design  */
.banner-container{
    padding: 10px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.banner-left{
    min-height: 200px;
    width: 50%;
}
.banner-left > h1{
    font-size: 78px;
}
.banner-left > p{
    margin-top: 28px;
    margin-bottom: 28px;
}
.btn-container > button{
    width: 200px;
    height: 54px;
    border-radius: 42px;
    color: white;
}

.banner-right{
    min-height: 200px;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}
.banner-right > img{
    width: 55%;
}
.tooltip{
    background-color: rgba(128, 128, 128, 0.548);
    position: absolute;
    right: -10%;
    width: 193px;
    height: 98px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 12px;
    top: 17%;
}
.tooltip2{
    background-color: rgba(82, 81, 81, 0.548);
    position: absolute;
    padding: 20px;
    border-radius: 12px;
    left: 23%;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.ball{
    width: 50px;
    height: 50px;
    background-color: #E6533C;
    border-radius: 50%;
}

/* training section  */
.grid-container{
    max-width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px) ;
}
.grid-container>div{
    position: relative;
}
.grid-container>div>p{
    position: absolute;
    z-index: 50;
    top: 0;
    left: 10%;
}


.box-2{
    grid-column: 2/ span 2;
}
.box-4{
    grid-column: 1/ 3;
}
.grid-container img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}






/* responsive code  */
@media screen and (max-width: 425px) {
.menu-container{
    display: none;
}    
nav > span{
    display: inline;
}
.banner-container{
    flex-direction: column;
}
.btn-container{
    display: flex;
}
.banner-right, .banner-left{
    width: 100%;
}
.banner-right > img{
    width: 100%;
}
.tooltip{
    top: 10%;
    right: 2%;
}
.tooltip2{
    top: 40%;
    left: 2%;
}

.grid-container{
    grid-template-columns: repeat(2, 1fr);
}
.box-2{
    grid-column: auto;
}
.box-4{
    grid-column: auto;
}
.box-3, .box-6{
    display: none;
}
}