@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

/* navbar design  */
nav {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}

nav>p {
    font-size: 36px;
    color: rgba(230, 83, 60, 1);
    font-weight: bold;
    font-style: italic;
}

nav>div {
    border: 1px solid rgb(84, 84, 84);
    display: flex;
    gap: 47px;
    align-items: center;
    border-radius: 39px;
    padding: 2px 5px;
}

nav>span {
    margin-right: 5px;
    display: none;
}

.home-btn {
    background-color: #E6533C;
    border-radius: 46px;
    padding: 5px 15px;
    cursor: pointer;
}

/* banner design  */
.banner-container {
    padding: 10px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.banner-left {
    min-height: 200px;
    width: 50%;
}

.banner-left>h1 {
    font-size: 78px;
}

.banner-left>p {
    margin-top: 28px;
    margin-bottom: 28px;
}

.btn-container>button {
    width: 200px;
    height: 54px;
    border-radius: 42px;
    color: white;
    cursor: pointer;
}

.banner-right {
    min-height: 200px;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}

.banner-right>img {
    width: 55%;
}

.tooltip {
    background-color: rgba(128, 128, 128, 0.548);
    position: absolute;
    right: -10%;
    width: 193px;
    height: 98px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 12px;
    top: 17%;
}

.tooltip2 {
    background-color: rgba(82, 81, 81, 0.548);
    position: absolute;
    padding: 20px;
    border-radius: 12px;
    left: 23%;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: #E6533C;
    border-radius: 50%;
}

/* habits section  */
.habit-container {
    max-width: 1200px;
    min-height: 300px;
    margin: 20px auto;
}

.habit-container>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #FFFFFF;
}

.habit-container>p {
    max-width: 671px;
    text-align: center;
    margin: 0 auto;
    font-size: 0.8rem;
    color: #ffffff73;
    font-weight: 400;
    padding-top: 5px;
}

.habit-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.habit-img {
    max-width: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.habit-img>.h-img1 {
    width: 180px;
    height: 180px;
}

.h-img1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.habit-img>h6 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 10px;
}

.habit-img>p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: #ffffff6d;
    padding: 5px;
}

/* run section  */
.run-container {
    max-width: 1200px;
    min-height: 371px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222222;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.run-container .run-description {
    width: 40%;
}

.run-description>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #FFFFFF;
}

.run-description>p {
    max-width: 671px;
    /* text-align: center; */
    /* margin: 0 auto; */
    font-size: 0.8rem;
    color: #ffffff73;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 10px auto;
}

.run-description>button {
    background-color: #E6533C;
    color: white;
    max-width: 224px;
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 42px;
    cursor: pointer;
}

.run-img {
    width: 40%;
    min-height: 312px;
    display: flex;
    align-items: center;
}

.run-img>img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 30px;
}


/* training section  */
.training-title {
    max-width: 1200px;
    min-height: 100px;
    margin: 0 auto;
}

.training-title>h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    color: #FFFFFF;
}

.training-title>p {
    /* text-align: center; */
    /* margin: 0 auto; */
    font-size: 0.8rem;
    color: #ffffff73;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 10px auto;
    padding: 15px 0;
}

.grid-container {
    max-width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
}


.grid-container>div {
    position: relative;
}

.grid-container>div>p {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 10%;
}


.box-2 {
    grid-column: 2/ span 2;
}

.box-4 {
    grid-column: 1/ 3;
}

.grid-container img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

/* team section  */
.team-container {
    max-width: 1200px;
    min-height: 781px;
    margin: 20px auto;
    padding: 20px;
    /* background-color: #222222; */
    border-radius: 18px;
}

.team-container>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #FFFFFF;
}

.team-container>p {
    text-align: center;
    /* margin: 0 auto; */
    font-size: 0.8rem;
    color: #ffffff73;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 10px auto;
}

.team-grid {
    background-color: #222222;
    /* height: auto; */
    border-radius: 1.1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: space-around;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    /* position: relative; */
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {

    /* height: 272px; */
    display: flex;
    justify-content: center;

    /* border: 1px solid red; */
    position: relative;
    /* text-align: center; */
}

.grid-1 img,
.grid-2 img,
.grid-3 img,
.grid-4 img,
.grid-5 img,
.grid-6 img {
    max-width: 326px;
    width: 100%;
    height: 272px;
    border-radius: 1.2rem;
    object-fit: cover;

}

.grid-1 h6,
.grid-2 h6,
.grid-3 h6,
.grid-4 h6,
.grid-5 h6,
.grid-6 h6 {
    font-size: 1.3rem;
    color: #FFFFFF;

    position: absolute;
    z-index: 50;
    top: 70%;
    left: 8%;
}

.grid-1 p,
.grid-2 p,
.grid-3 p,
.grid-4 p,
.grid-5 p,
.grid-6 p {
    font-size: 0.8rem;
    font-weight: 400;
    color: #f4f4f485;

    position: absolute;
    top: 80%;
    left: 8%;
}

/* footer section here  */
footer {
    width: 100%;
    background-color: #222222;
    height: auto;
}

.f-container {
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 100px;
}

.f1 {
    width: 40%;
    height: 250px;
}

.f2 {
    width: 25%;
    height: 250px;
}

.f3 {
    width: 25%;
    height: 250px;
}

.f1>h2 {
    font-size: 4.3rem;
    font-weight: 800;
    color: #E6533C;
    font-style: italic;
    padding-bottom: 20px;
}

.f1>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.f2>h6,
.f3>h6 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 20px;

}

.f2>ul,
.f3>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f2>ul>li>a,
.f3>ul>li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);

    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
}

.f-last {
    max-width: 1200px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.f-last span {
    display: block;
    background-color: #ffffff65;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
}

.f-last p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}



/* responsive code  */
@media screen and (max-width: 425px) {
    .menu-container {
        display: none;
    }

    nav>span {
        display: inline;
    }

    .banner-container {
        flex-direction: column;
    }

    .btn-container {
        display: flex;
    }

    .banner-right,
    .banner-left {
        width: 100%;
    }

    .banner-right>img {
        width: 100%;
    }

    .tooltip {
        top: 10%;
        right: 2%;
    }

    .tooltip2 {
        top: 40%;
        left: 2%;
    }

    /* habits section responsive */
    .habit-container>h1 {

        font-size: 2rem;
    }

    .habit-img-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    /* run section responsive  */
    .run-container {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .run-container .run-description {
        width: 90%;
    }

    .run-description>button {
        max-width: 287px;
        width: 100%;
    }

    .run-img {
        width: 90%;
        height: 170px;
    }


    /* training section responsive */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .box-2 {
        grid-column: auto;
    }

    .box-4 {
        grid-column: auto;
    }

    .box-3,
    .box-6 {
        display: none;
    }

    /* team section responsive  */
    .team-grid {
        background-color: #222222;
        /* height: auto; */
        border-radius: 1.1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        justify-content: space-around;
        margin: 0 auto;
        gap: 20px;
        padding: 20px;
        /* position: relative; */
    }

    .grid-1,
    .grid-4 {
        display: none;
    }

    /* footer section responsive  */
    .f-container {
        flex-direction: column;
        /* align-items: center; */
        padding-top: 100px;
    }

    .f1 {
        width: 90%;
        height: 250px;
    }

    .f2 {
        width: 90%;
        height: 250px;
    }

    .f3 {
        width: 90%;
        height: 250px;
    }
    .f-last>span{
        width: 90%;
        margin: 20px auto;
    }
}